[
    {
        "use_cached": true,
		"environment":"Environment_name_1",
        "time_range": {
            "type": "--hours",
            "value": 3
        },
        "defensepros_policies": {
            "1.2.3.4": "Policies,policy2",
            "2.3.4.5": "Pol1,pol2",
            "4.5.6.7": " "
        }
    },
    {
        "use_cached": false,
		"environment":"Environment_name_2",
        "vision_ip": "192.168.1.1",
        "vision_username": "admin",
        "vision_password": "radware",
        "vision_root_password": "$ENVIRONMENTAL_VARIABLE_ROOT_PASSWORD",
        "time_range": {
            "type": "--epoch-range",
            "value": [859885200, 859971600]
        },
        "defensepros_policies": {
            "6.2.3.4": "Policies,policy2",
            "7.3.4.5": "Pol1,pol2",
            "8.5.6.7": " "
        }
    }
]