[
    {
        "environment":"Environment_Name_1",
        "use_cached_credentials": true,
        "time_range": {
            "type": "--hours",
            "value": 24
        },
        "defensepros_policies": {
            "1.2.3.4": "Policies,policy2",
            "2.3.4.5": "Pol1,pol2",
            "3.4.5.6": "--invert,exclude1,exclude2",
            "4.5.6.7": " "
        }
    },
    {
        "environment":"Environment_Name_2",
        "use_cached_credentials": false,
        "vision_ip": "192.168.1.1",
        "vision_username": "admin",
        "vision_password": "radware",
        "vision_root_password": "$ENVIRONMENTAL_VARIABLE_ROOT_PASSWORD",
        "time_range": {
            "type": "--date-range",
            "value": ["25-06-2025 00:01:00","25-06-2025 23:59:00"]
        },
        "defensepros_policies": {
            "6.2.3.4": "Policies,policy2",
            "7.3.4.5": "Pol1,pol2",
            "8.5.6.7": " "
        }
    },
    {
		"environment":"Environment_Name_3",
        "use_cached_credentials": true,
        "time_range": {
            "type": "--epoch-range",
            "value": [859885200, 859971600]
        }
    },
]